@charset "utf-8";
/*CSS Reset*/
html{color:#000;background:#FFF; }
body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,
pre,code,form,fieldset,legend,input,textarea,p,blockquote,th,td{margin:0;padding:0;
    font-family: PingFang SC,"Helvetica Neue",Helvetica,Arial,"Hiragino Sans GB","Microsoft Yahei","Heiti SC","WenQuanYi Micro Hei",sans-serif;}
fieldset,img{border:0}
address,caption,cite,code,dfn,em,th,var{font-style:normal;font-weight:normal}
ol,ul{list-style:none}
caption,th{text-align:left}
h1,h2,h3,h4,h5,h6{font-size:100%;}
q:before,q:after{content:''}
abbr,acronym{border:0;font-variant:normal}
sup{vertical-align:text-top}
sub{vertical-align:text-bottom}
input,textarea,select{font-family:inherit;font-size:inherit;font-weight:inherit;vertical-align:middle; outline: none 0;}
input,textarea,select{*font-size:100%}
legend{color:#000}
table{border-collapse:collapse; border-spacing:0; }
table tr td,table tr th{border-collapse:collapse; border-spacing:0;}
a{ margin: 0; padding: 0;text-decoration: none;color: inherit;}
*, *:before, *:after {
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
html,body{-webkit-font-smoothing: antialiased;-webkit-overflow-scrolling: touch;font-size: .28rem; background-color: #f5f6f9; color: #1f2226;}
/*CSS Reset End*/

/*Clearfix*/
.clear{clear:both;}.clearfix:after{clear:both;content:' ';display:block;font-size:0;height:0;line-height:0;visibility:hidden;width:0}* html .clearfix,:first-child+html .clearfix{zoom:1}
.overflow-h{ overflow: hidden}
.fl{float: left}
.fr{float: right}
.mt20{margin-top: 20px;}
::-moz-placeholder {
    color: #999;
    opacity: 1;
}
:-ms-input-placeholder {
    color: #999;
}
::-webkit-input-placeholder {
    color: #999;
}
.form-control[disabled],
.form-control[readonly],
fieldset[disabled] .form-control {
    cursor: not-allowed;
    background-color: #eee;
    opacity: 1;
}
img {
    border: 0 none;
    vertical-align: top;
}
.tcMsgOut{ width:100%; height:100%; position:fixed; left:0; top:0; display:table-cell; z-index:9999;}
.tcMsgBox{  padding:10px; border-radius:5px !important; -moz-border-radius:5px !important;
    background-color:rgba(0,0,0,0.7) !important; color:#ffffff !important; line-height:20px; text-align:center;
    position:fixed; font-size:12px; display:inline-block; min-width:30%; max-width:80%; vertical-align:middle;
    left:50%; top:50%; -moz-transform:translate(-50%,-50%);-webkit-transform:translate(-50%,-50%); transform:translate(-50%,-50%); }
.flex{
    display:-webkit-box;
    display: -webkit-flex;
    display: flex;
}
.flex > .flex-item{
    -webkit-box-flex: 1;
    -webkit-flex: 1;
    flex: 1;
    display: block;
}
.page{
    background: url("../images/operation/banner.jpg") no-repeat center 1.06rem / 100% auto;
    padding-top: 5.22rem;
}
.header{
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
}
.head{
    height: 1.06rem;
    background-color: #fff;
    padding: 0 .3rem;
}
.header h1{
    background: url("../images/operation/logo.png") no-repeat center / 100% auto;
    width: .9rem;
    height: 100%;
    text-indent: -9999em;
    overflow: hidden;
}
.header .tel{
    text-align: right;
    padding-top: .15rem;
}
.header .tel dd{
    font-size: .3rem;
    font-weight: bold;
    color: #000;
    background: url("../images/operation/phone.svg") no-repeat left center / .3rem auto;
    padding-left: .35rem;
}
.header .tel dt{
    font-size: .2rem;
    color: #98989b;
}
.nav{
    padding-top: .2rem;
}
.nav > ul > li{
    -webkit-box-flex: 1;
    -webkit-flex: 1;
    flex: 1;
    text-align: center;
    line-height: .48rem;
    position: relative;
}
.nav > ul > li > a{
    color: #fff;
    display: inline-block;
}
.nav > ul > li.active > a{
    border-bottom: none;
}
.footer{
    background-color: #262626;
    padding: .7rem;
    color: #cecece;
    font-size: .24rem;
    text-align: center;
}
.foot-contact{
    display: inline-block;
}
.foot-contact p{
    text-align: left;
    font-size: .24rem;
    line-height: .36rem;
}
.footer dd{
    font-size: .48rem;
    background: url("../images/operation/foot_phone.png") no-repeat left center / .28rem auto;
    padding-left: .4rem;
    line-height: .56rem;
    font-weight: bold;
    color: #fff;
}
.footer dt{
    font-size: .2rem;
}
.footer dl{
    margin-bottom: .3rem;
}
.foot-code{
    text-align: center;
    margin-top: .8rem;
}
.foot-code img{
    width: 2.86rem;
}
.foot-code p{
    color: #999;
    margin-top: .1rem;
}
.copyright{
    text-align: center;
    font-size: .2rem;
    line-height: .36rem;
    color: #666666;
    margin-top: .48rem;
}
.bottom-fixed{
    height: 1.1rem;
}
.fixed-wrapper{
    height: 1.1rem;
    position: fixed;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #fff;
    text-align: center;
    z-index: 9;
    box-shadow: -1px 0px 40px 0px rgba(0,0,0,.08);
}
.fixed-wrapper li i{
    display: inline-block;
    width: .5rem;
    height: .5rem;
}
.fixed-wrapper li a{
    display: block;
    padding-top: .1rem;
}
.fixed-wrapper li i.icon-msg{
    background: url("../images/operation/icon_msg.png") no-repeat center bottom / .49rem auto;
}
.fixed-wrapper li i.icon-tel{
    background: url("../images/operation/icon_tel.png") no-repeat center bottom / .42rem auto;
}
.fixed-wrapper li i.icon-apply{
    background: url("../images/operation/icon_apply.png") no-repeat center bottom / .46rem auto;
}
.fixed-wrapper li span{
    display: block;
    font-size: .22rem;
    color: #737373;
}
.dmenu > a:after{
    content: ' ';
    display: inline-block;
    width: 0;
    height: 0;
    margin-left: .05rem;
    vertical-align: middle;
    border-top: 4px solid #fff;
    border-right: 4px solid transparent;
    border-left: 4px solid transparent
}
.dmenu > .bout:after{
    content: ' ';
    display: inline-block;
    width: 0;
    height: 0;
    margin-left: .05rem;
    vertical-align: middle;
    border-top: 4px solid #333;
    border-right: 4px solid transparent;
    border-left: 4px solid transparent
}
.dropdown{
    display: none;
    position: absolute;
    right: 0;
    left: 0;
    background: #fff;
    text-align: center;
    padding: .2rem 0;
}
.dropdown li {
    height: .6rem;
    line-height: .6rem;
    font-size: .22rem;
}
.dropdown li a{
    color: #88888c;
}
.i-business{
    margin: 0 .2rem .2rem .2rem;
    background-color: #fff;
    padding: 0 .4rem;
}
.i-business li{
    padding: .26rem 0;
    line-height: 1.03rem;
}
.i-business li:not(:last-child){
    border-bottom: solid 1px #e6e6eb;
}
.i-business li img{
    width: .9rem;
    margin-right: .2rem;
}
.i-business li h3{
    display: inline-block;
    font-size: .32rem;
    margin-right: .1rem;
}
.i-business li p{
    display: inline-block;
    color: #88888c;
}

.i-section{
    background-color: #fff;
    padding: .6rem 0;
}
.i-section h2{
    text-align: center;
    height: .9rem;
    margin-bottom: .4rem;
}
.i-section h2 img{
    height: 100%;
}

.i-definition-list{
    background: #ffb202 url("../images/operation/bg_repeat2.png") repeat 0 0 / .08rem auto;
    margin: 0 .3rem;
    padding: .14rem;
}
.i-definition-list ul{
    background-color: #fff;
    padding: .4rem .26rem .4rem .3rem;
}
.i-definition-list ul li{
    padding-left: .15rem;
    position: relative;
}
.i-definition-list ul li:not(:last-child){
    margin-bottom: .28rem;
}
.i-definition-list ul li:before{
    content: ' ';
    display: inline-block;
    position: absolute;
    left: 0;
    width: .04rem;
    height: .27rem;
    background: -webkit-linear-gradient(top, #ff9529 0%,#ffc053 100%);
    background: linear-gradient(top, #ff9529 0%,#ffc053 100%);
}
.i-definition-list li h3{
    font-size: .3rem;
    line-height: .3rem;
    margin-bottom: .1rem;
}
.i-definition-list li p{
    line-height: .38rem;
    color: #88888c;
}
.i-question{
    padding-top: 0;
}
.i-question ul{
    padding: 0 .4rem;
    counter-reset: list 0;
}
.i-question li{
    min-width: 1.2rem;
    padding: .45rem 0;
}
.i-question li:not(:last-child){
    border-bottom: solid 1px #e6e6eb;
}
.i-question li h3{
    font-size: .28rem;
    line-height: .3rem;
    color: #333;
    font-weight: normal;
    position: relative;
}
.i-question li h3:after{
    content: ' ';
    display: inline-block;
    position: absolute;
    width: .24rem;
    height: .24rem;
    right: 0;
    top: 50%;
    margin-top: -.1rem;
    background: url("../images/operation/arrow_bottom.png") no-repeat center / .24rem auto;
}
.i-question li h3:before{
    counter-increment:list;
    content: counter(list)'.';
}
.i-question li p{
    display: none;
    line-height: .4rem;
    margin-top: .2rem;
}
.i-question li.on p{
    display: block;
    color: #88888c;
}
.i-question li.on h3:after{
    background-image: url("../images/operation/arrow_top.png");
}
.i-strengths ul{
    position: relative;
}
.i-strengths ul:before{
    content: ' ';
    display: block;
    background: url("../images/operation/pk.png") no-repeat center / 100% auto;
    width: .8rem;
    height: .8rem;
    position: absolute;
    top: 0;
    left: 50%;
    margin-left: -.4rem;
}
.i-strengths.fcdy ul:before{
    left: 2.5rem;
}
.i-strengths li{
    width: 3.3rem;
    display: inline-block;
    margin-left: .3rem;
}
.i-strengths.fcdy li{
    width: 2rem;
    vertical-align: top;
    margin-left: .2rem;
}
.i-strengths.fcdy li:nth-child(2){
    margin-left:.6rem ;
    text-align: center;
}
.i-strengths li h3{
    color: #333333;
    text-align: center;
    line-height: .8rem;
}
.i-strengths li p{
    height: 1.02rem;
    font-size: .26rem;
    color: #555555;
    line-height: .36rem;
    border-top: dashed 1px #e6e6eb;
}
.i-strengths li p span{
    display: inline-block;
    vertical-align: middle;
    width: 3.26rem;
}
.i-strengths.fcdy li p span{
    width: 1.96rem;
}
.i-strengths.aj li.rowspan div{
    padding-top: 2.2rem;
    font-size: .26rem;
    color: #555555;
    line-height: .36rem;
    border-top: dashed 1px #e6e6eb;
    text-align: center;
}
.i-strengths li p:after{
    width: 1px;
    height: 100%;
    content: ' ';
    display: inline-block;
    vertical-align: middle;
}
.i-strengths li:first-child p{
    padding-left: .7rem;
}
.i-strengths.fcdy li:first-child p{
    padding-left: .2rem;
}
.i-strengths li:first-child p span{
    width: 2.56rem;
}
.i-strengths.fcdy li:first-child p span{
    width: 1.76rem;
}
.i-strengths th,.i-strengths td{
    border: solid 1px #e6e6eb;
    text-align: center;
    font-size: .24rem;
    color: #555;
    min-width: .96rem;
}
.i-strengths_table{
    padding: 0 .2rem;
}
.i-strengths_table table{
    width: 100%;
}
.i-strengths th{
    background-color: #f5f5f9;
    height: .7rem;
}
.i-strengths td{
    height: .96rem;
}

.i-case{
    background: url("../images/operation/bg_img_1.jpg") no-repeat center / 100% auto;
    height: 11rem;
}
.i-case-data{
    color: #ffb043;
    font-size: .24rem;
    text-align: center;
    margin-bottom: .6rem;
}
.i-case-data dl{
    display: inline-block;
}
.i-case-data dl dd{
    font-weight: bold;
}
.i-case-data dl + dl{
    margin-left: .6rem;
}
.i-case-data dl dd b{
    font-size: .46rem;
    font-family: Arial;
    margin-right: .05rem;
}
.i-case ul{
    padding-bottom: .88rem;
}

.i-case li > div{
    width: 5.6rem;
    height: 6.6rem;
    background-color: #fff;
    text-align: center;
    margin: 0 auto;
    border-radius: .06rem;
    padding: .56rem .7rem 0 .7rem;
}
.swiper-pagination-bullet {
    width: .5rem;
    height: .03rem;
    display: inline-block;
    border-radius: 0;
    opacity: .3;
    background-color: #fff;
}
.swiper-pagination-bullet-active{
    opacity: 1;
}
.i-case li img{
    width: 1.34rem;
    margin-bottom: .2rem;
}
.i-case li h3{
    font-size: .3rem;
}
.i-case li span{
    color: #000;
    font-size: .24rem;
}
.i-case li p{
    font-size: .24rem;
    line-height: .42rem;
    color: #666;
    text-align: left;
    margin-top: .1rem;
}
.companyList{
    text-align: center;
    margin-bottom: .8rem;
}
.companyList li{
    display: inline-block;
    width: 3.3rem;
    height: 4.3rem;
    background-color: #fff;
    box-shadow: 0 .02rem .1rem rgba(0,0,0,.1);
}
.companyList li img{
    display: block;
    width: 100%;
}
.companyList li h3{
    line-height: .8rem;
    font-size: .24rem;
    font-weight: normal;
}
.companyList li + li{
    margin-left: .2rem;
}
.bankList img{
    width: 5.87rem;
    display: block;
    margin: 0 auto;
}
.i-cheat-q{
    padding: 0 .2rem;
    position: relative;
}
.i-cheat-q:before{
    position: absolute;
    left: 50%;
    top: 0;
    bottom: 0;
    content: ' ';
    display: block;
    width: 2px;
    background-color: #ffb043;
    margin-left: -1px;
}
.i-cheat-q dt{
    font-weight: bold;
    color: #333;
    text-align: center;
    line-height: .3rem;
    margin-bottom: .2rem;
}
.i-cheat-q dt span + span{
    margin-left: .2rem;
}
.i-cheat-q dd{
    height: 1.5rem;
    display:-webkit-box;
    display: -webkit-flex;
    display: flex;
    position: relative;
    font-size: .22rem;
    line-height: .3rem;
}
.i-cheat-q dd p{
    height: 100%;
    -webkit-box-flex: 1;
    -webkit-flex: 1;
    flex: 1;
    display:-webkit-box;
    display: -webkit-flex;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    align-items: center;
    border-top: dashed 1px #e6e6eb;
    color: #666;
    word-break: break-all;
    word-wrap: break-word;
    text-align: justify;
    width: 3.3rem;
    font-size: .26rem;
    line-height: .34rem;
}
.i-cheat-q dd p:nth-child(2){
    padding-right: .5rem;
}
.i-cheat-q dd p:nth-child(3){
    padding-left: .5rem;
}
.i-cheat-q dd p + p{
    margin-left: .2rem;
}
.i-cheat-q dd h3{
    width: 1rem;
    height: 1rem;
    position: absolute;
    left: 50%;
    top: 50%;
    border-radius: 100%;
    background-color: #ffb043;
    color: #fff;
    padding: .21rem .26rem;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    text-align: center;
}
.i-process{
    background: #ffb202;
}
.i-process .process{
    position: relative;
    margin: 0 .4rem;
}
.i-process .process:before{
    content: ' ';
    display: block;
    height: 0;
    left: 0;
    right: 0;
    border-top: dotted .05rem #fff;
    position: absolute;
    top: .48rem;
}
.i-process .process ul{
    font-size: 0;
    counter-reset: list 0;
}
.i-process .process li{
    display: inline-block;
    padding-top: 1.08rem;
    position: relative;
    text-align: center;
    font-size: .24rem;
    color: #fff;
}
.i-process .process li:before{
    display: block;
    width: .92rem;
    height: .92rem;
    border:solid .05rem rgba(255,255,255,.27);
    background-color: #fff;
    border-radius: 100%;
    position: absolute;
    top: 0;
    left: 50%;
    margin-left: -.46rem;
    color: #ffb202;
    font-size: .46rem;
    line-height: .82rem;
    counter-increment:list;
    content: counter(list);
}
.calculator{
    background-color: #fff;
    padding: .6rem 0;
}
.calculator_hd{
    text-align: center;
    margin-bottom: .5rem;
}
.calculator_hd h2{
    font-size: .42rem;
    color: #333;
}
.calculator_hd p{
    font-size: .24rem;
    color: #606060;
}
.calculator_from{
    padding: 0 .5rem;
}
.calculator_from .form_total{
    border:solid .14rem #d2d1d1;
    border-radius: .16rem;
    height: 1.44rem;
    position: relative;
}
.calculator_from #totalAmount{
    display: block;
    width: 100%;
    height: 100%;
    box-shadow: 0 .03rem .21rem rgba(0,0,0,.2) inset;
    border: solid .03rem #000;
    background-color: #d3d3cb;
    padding-right: .5rem;
    text-align: right;
    line-height: 1.16rem;
    font-size: .6rem;
}
.calculator_from #totalAmount + .unit{
    position: absolute;
    right: .2rem;
    top: 50%;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
}
.calculator_from .form-control{
    border: solid 1px #d7d7d7;
    border-radius: .06rem;
    height: 1rem;
    position: relative;
    margin-top: .2rem;
}
.calculator_from .form-group{
    width: 100%;
    height: 100%;
    position: relative;
}
.calculator_from .form-group .unit{
    position: absolute;
    right: .2rem;
    top: 0;
    display: block;
    line-height: 1rem;
    font-size: .24rem;
    color: #000;
}
.calculator_from .form-control input{
    width: 100%;
    height: 100%;
    display: block;
    font-size: .36rem;
    font-family: Arial;
    -webkit-appearance: none;
    border: none 0;
}
.calculator_from .form-control label{
    position: absolute;
    left: .2rem;
    top:0;
    line-height: 1rem;
    color: #000;
    font-size: .24rem;
    z-index: 2;
}
.calculator_from .form-control #amount{
    text-align: right;
    padding-right: .68rem;
}
.calculator_from .form-control select{
    -webkit-appearance: none;
    height: 100%;
    width: 100%;
    border: none 0;
    background: url("../images/operation/select_icon.png") no-repeat 96% center / .16rem auto;
    direction: rtl;
    font-size: .28rem;
    color: #000;
    padding-right: .48rem;
    word-break: keep-all;
}
.calculator_from .form-control #term option{
    direction: rtl;
}
.calculator_from .rate{
    width: 3.56rem;
    margin-right: .2rem;
}
.calculator_from .rate select{
    direction: ltr;
    padding-left: .2rem;
}
.calculator_from .rate-input input{
    font-size: .28rem;
    padding: 0 .48rem 0 .2rem;
}
.calculator_from .rate-input .unit{
    position: absolute;
    right: .2rem;
    top: 0;
    display: inline-block;
    line-height: 1rem;
}
.calculator_from .buttons{
    font-size: 0;
    margin-top: .5rem;
}
.calculator_from .buttons button{
    width: 3.1rem;
    height: .9rem;
    border-radius:.06rem;
    border: none 0;
    font-size: .3rem;
}
.calculator_from .buttons button + button{
    margin-left: .3rem;
}
.buttons .btn-primary{
    background-color: #ffb202;
    color: #fff;
    font-weight: bold;
}
.calculator_from .buttons .btn-default{
    background-color: #ffffff;
    color: #737373;
    border:solid 1px #d7d7d7;
}
.calculator_from .form_detail{
    background-color: #f5f6f9;
    border-radius: .06rem;
    margin-top: .2rem;
    padding: .3rem;
    display: none;
}
.calculator_from .form_detail li{
    line-height: .6rem;
    font-size: .24rem;
    color: #000;
    display:-webkit-box;
    display: -webkit-flex;
    display: flex;

}
.calculator_from .form_detail .form_detail_hd{
    width: 1.6rem;
}
.calculator_from .form_detail .form_detail_bd{
    -webkit-box-flex: 1;
    -webkit-flex: 1;
    flex: 1;
    text-align: right;
}
.calculator_from .form_detail .form_detail_bd span{
    color: #ffb043;
}
.calculator_from .form-radio{
    margin-top: .2rem;
    font-size: .24rem;
    line-height: .48rem;
}
.calculator_from .form-radio label{
    margin-left: .48rem;
}
.calculator_from .form-radio span{
    display: inline-block;
}
.calculator_from .form-radio input{
    display: none;
}
.calculator_from .form-radio input:checked + i{
    background-color: #ffb043;
}
.calculator_from .form-radio label i{
    display: inline-block;
    vertical-align: middle;
    width: .24rem;
    height: .24rem;
    border-radius: 100%;
    background-color: #fff;
    border: solid .03rem #000;
    margin-right: .1rem;
    font-style: normal;
}

.form-cover{
    position: fixed;
    z-index: 10;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background-color: #fff;
    display:-webkit-box;
    display: -webkit-flex;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    align-items: center;
}
.form-cover.in{
    -webkit-animation: slideInUP .3s 1;
    animation: slideInUP .3s 1;
}
.form-cover.out{
    -webkit-animation: slideOutUP .3s 1;
    animation: slideOutUP .3s 1;
}
.form-cover .close{
    background: url("../images/operation/close.png") no-repeat center / .36rem auto;
    display: block;
    width: .4rem;
    height: .4rem;
    position: absolute;
    right: .5rem;
    top: .7rem;
}
.form-post{
    position: relative;
    padding: 0 .5rem;
}
.form-post h2{
    text-align: center;
    font-size: .36rem;
    color: #333;
    margin-bottom: .36rem;
}
.form-post .form-control{
    margin-bottom: .36rem;
    padding-left: 1.3rem;
    position: relative;
}
.form-post .form-control .label,.form-post .form-radio .label{
    width: 1.2rem;
    position: absolute;
    left: 0;
    top: 0;
    display: block;
    line-height: .8rem;
    font-size: .24rem;
    color: #333;
    text-align: right;
}
.form-post .form-control input{
    height: .8rem;
    border: solid 1px #d7d7d7;
    -webkit-appearance: none;
    padding: 0 .2rem;
    display: block;
    width: 100%;
}
.form-post .form-control textarea{
    border: solid 1px #d7d7d7;
    -webkit-appearance: none;
    padding: .2rem;
    display: block;
    width: 100%;
    height: 1.2rem;
}
.form-post .form-radio{
    padding-left: 1.3rem;
    position: relative;
    margin-bottom: .2rem;
}
.form-post .radios{
    font-size: 0;
}
.form-post .form-radio label{
    width: 50%;
    display: inline-block;
    font-size: .24rem;
    margin-bottom: .2rem;
}
.form-post .form-radio .label{
    line-height: .4rem;
}
.form-post .form-radio input{
    margin-right: .1rem;
}
.form-post .form-button input{
    width: 100%;
    height: 1rem;
    background: #fdb12b;
    border-radius: .04rem;
    font-size: .36rem;
    line-height: 1rem;
    text-align: center;
    color: #fff;
    border: none 0;
    -webkit-appearance: none;
}

@-webkit-keyframes slideInUP {
    0%{
        -webkit-transform:translateY(-100%);
        transform:translateY(-100%);
    }
    100%{
        -webkit-transform:translateY(0);
        transform:translateY(0);
    }
}
@keyframes slideInUP {
    0%{
        -webkit-transform:translateY(-100%);
        transform:translateY(-100%);
    }
    100%{
        -webkit-transform:translateY(0);
        transform:translateY(0);
    }
}


@-webkit-keyframes slideOutUP {
    0%{
        -webkit-transform:translateY(0);
        transform:translateY(0);
    }
    100%{
        -webkit-transform:translateY(-100%);
        transform:translateY(-100%);
    }
}
@keyframes slideOutUP {
    0%{
        -webkit-transform:translateY(0);
        transform:translateY(0);
    }
    100%{
        -webkit-transform:translateY(-100%);
        transform:translateY(-100%);
    }
}

@media only screen and (device-width: 375px) and (device-height: 812px) and
(-webkit-device-pixel-ratio: 3) {
    .bottom-fixed{
        height: 1.5rem;
    }
    .fixed-wrapper{
        height: 1.5rem;
        position: fixed;
        left: 0;
        right: 0;
        bottom: 0;
        background-color: #fff;
        text-align: center;
        z-index: 9;
    }

}
